[2020-03-08 21:29] Jrschellenberg opened #1 "HHRTF - Sources not Averaging"
Currently, when viewing displayed data. The sources are not Averaging.

We require the data to give us an averaged value, as well as the number of sources it is from.

Example:

`9384` from `2` sources

[2020-03-08 21:33] Jrschellenberg opened #2 "HHRTF - Missing PD Responses"
Currently the Alpha Version is missing PD Responses

This feature will be impelmented for Beta release.

[2020-03-08 21:34] Jrschellenberg opened #3 "HHRTF - Only 2019 Data is being Returned"
Currently for Alpha Version, Only 2019 Data is being Tracked.

This will be as well for Beta version, currently, multiple years are being shown for Alpha and Beta testing

[2020-03-08 21:36] Jrschellenberg opened #4 "HHRTF - "Unknown" region causing Data Rendering Issues"
Currently, Regions is the only unique value to look up Jurisdictions, However, there are multiple
Jurisidctions with the Region of Unknown.

Therefore, cannot properly display information from regions of "Unknown" Until we resolve the relationship between Jurisdiction and Region

[2020-03-08 21:40] Jrschellenberg opened #5 "HHRTF - Plural Text Not Updating Jursidictions vs Jurisdiction"
When user selects `compare Specialties`

Then have text of `Select Jurisidictions` update to be `Select Jurisdiction`

Similar use case for Specialty vs Specialties

[2020-03-08 21:41] mlaniereyes commented on #1
I don't mind averaging it in the frontend, just thought the endpoints would change too so I didn't average it this time :p

[2020-03-08 21:41] Jrschellenberg opened #6 "HHRTF - Better No results message"
Currently the No Results message has no styling. Will require better styling for Beta Release

[2020-03-08 21:42] Jrschellenberg opened #7 "HHRTF - Loading Icon"
When user clicks `Apply Filters`

Then Display Loading Icon while AJAX call is happening

Implement for Beta Release

[2020-03-08 21:43] mlaniereyes commented on #4
Note to backend:
Regions are not unique. Some provinces have similar 'Unknown' value. would it help if I'm sending a province request using the province ID instead and getting response with the same ID too like we're supposed to do with datasets?

[2020-03-09 00:04] Jrschellenberg opened #8 "HHRTF - Revamp Datasets Section"
Currently, The Datasets is taking up too much room on sidebar, and has a bad User experience.

The Current impelmentation of Specialties is much cleaner, and for consistency, would like to update the Data sets to have the same flow as the Specialties box.

<img width="961" alt="Screen Shot 2020-03-08 at 7 01 48 PM" src="https://user-images.githubusercontent.com/6064137/76173679-7cb93c80-616f-11ea-

[2020-03-09 00:07] Jrschellenberg opened #9 "HHRTF - Re-arrange Blue App Header"
Will need to Discuss with Raj for Design input, however thinking of potentially:

- Remove Blue bar and Logo
-  Move "Select a View" and dropdown into App Table section

This will Free up space, as the blue bar is no longer needed since App is being integrated directly into CFMS website.

[2020-03-09 00:09] Jrschellenberg opened #10 "HHRTF - Remove Select all specialties Toggle Button"
The Select all specialties functionality is no longer needed as the Search functionality comes with a Select all, de-select all functionality

<img width="1439" alt="Screen Shot 2020-03-08 at 7 08 26 PM" src="https://user-images.githubusercontent.com/6064137/76173772-4b8d3c00-6170-11ea-8203-57e477987ed7.png">

[2020-03-09 00:13] Jrschellenberg opened #11 "HHRTF - Update Table Layout"
Please see Screenshot Below.

We wish to update the table layout and design slightly.

Instead of having The 1 specialty or Jurisdiction appearing in the top left of the column. Would like to have it be a descriptive column of "Data-set" similar to a true Table.

Then have the Language appear top- centered explaining what the Table is.

Requirement: **Will need to be available for Export Functiona

[2020-03-09 00:16] Jrschellenberg opened #12 "HHRTF - Change Compare Jurisdiction to Compare Jurisdictions"
See Image

<img width="1434" alt="Screen Shot 2020-03-08 at 7 15 28 PM" src="https://user-images.githubusercontent.com/6064137/76173862-4086db80-6171-11ea-80c0-8ba24995fc89.png">

[2020-03-12 20:22] BrandoCC opened #13 "Choosing an option in jurisdiction or specialty"
When selecting a jurisdiction after a province is selected you have to click off of the screen to get the selection box to close. Similarly when choosing a specialty, after selecting the ones that are wanted you have to click outside the box. Is it possible to have a button on the bottom to click apply or the box closing automatically once the selections have been made?

[2020-03-12 20:30] BrandoCC opened #14 "When selecting Canada as a jurisdiction"
Redundant to have to select Canada again as a region.

[2020-03-13 00:16] DaxBourcier commented on #13
Agreed, I think an apply button might be best rather than closing automatically because if you want to select more than one region and it keep closing that wouldn't be user friendly (for the comparing by jurisdictions one). I think closing automatically would be best when comparing by specialty because here there's only one jurisdiction to be picked.

[2020-03-13 00:20] DaxBourcier opened #15 "HHRTF - Region default should be selected province only"
When you compare by jurisdiction and choose a province say Québec, the region should default to Québec only with all the regions left unchecked. The user can select which region they want by checking them.

[2020-03-13 00:24] DaxBourcier commented on #15
Similarly, when comparing by specialty, if you click say Ontario, the region should automatically be defaulted to select Ontario. The user can select a different region if they want to.

[2020-03-13 01:00] DaxBourcier opened #16 "HHRTF - Extra Data Sets"
Few things under data sets. 1) Some labels are "#" and other "Number", they should all be the latter. 2) There should be no abbreviations in the labels for example "Yr" should be "Year". CMG can be kept as an abbreviation.  3) PD_Response, Provincial Resources, Specialty resources should not appear under data sets. 4) # of graduate from province 2 yers ago should be changed to "Number Of Graduates

[2020-03-13 01:25] DaxBourcier opened #17 "HHRTF - Comparing jurisdiction title"
Should be changed to [Selected Specialty] compared by jurisdictions.

[2020-03-13 01:27] DaxBourcier opened #18 "HHRTF - Provinces should be spelled out"
Provinces should be spelled out.

[2020-03-13 03:00] Jrschellenberg commented on #16
In order to remedy this issue, we should correct the Template to have better naming for the Columns. Will investigate as to how hard this is to change with JT.

To clarify, the Columns need to be Exactly what you want rendered on the Front end, since that is what is being used to populate the name of the Data_set

[2020-03-13 03:02] Jrschellenberg commented on #18
This is similar to Issue #16

[2020-03-14 17:57] Jrschellenberg commented on #5
Fixed in Jira 26

[2020-03-14 17:57] #5 closed, assigned to nobody

[2020-03-14 17:58] Jrschellenberg commented on #12
Fixed in Jira 19

[2020-03-14 17:58] #12 closed, assigned to nobody

[2020-03-14 19:23] Jrschellenberg commented on #7
Fixed through Jira 24

[2020-03-14 19:23] #7 closed, assigned to nobody

[2020-03-14 19:25] #3 closed, assigned to nobody

[2020-03-14 19:25] Jrschellenberg commented on #4
Confirmed this John, This will not be an issue since The Unknown is being Stored as an id on the backend

[2020-03-14 19:25] #4 closed, assigned to nobody

[2020-03-14 19:26] Jrschellenberg commented on #6
Fixed

[2020-03-14 19:26] #6 closed, assigned to nobody

[2020-03-14 19:27] #10 closed, assigned to nobody

[2020-03-14 19:27] #8 closed, assigned to nobody

[2020-03-14 19:29] #11 closed, assigned to nobody

[2020-03-14 20:02] Jrschellenberg commented on #15
To clarify, please see picture attached. In the picture I provided, only "Que." Should be selected, the rest should not.

<img width="961" alt="Screen Shot 2020-03-14 at 3 01 20 PM" src="https://user-images.githubusercontent.com/6064137/76689530-cdfc7c80-6604-11ea-9eb7-7d4faa7ae622.png">

[2020-03-14 20:05] DaxBourcier commented on #15
Yes, that's correct, thanks!

[2020-03-14 20:14] Jrschellenberg commented on #17
To Clarify Dax's point above, please see my Screenshot attached.

When User Compares by Jurisdictions  and applies filters
Then The Heading should read `[Selected Specialty] compared by jurisdictions.`

<img width="723" alt="Screen Shot 2020-03-14 at 3 05 43 PM" src="https://user-images.githubusercontent.com/6064137/76689707-7ced8800-6606-11ea-8c94-1d4592c168a6.png">

[2020-03-14 20:29] DaxBourcier commented on #17
Yes, that's the title that should be changed. Thanks!

[2020-03-14 20:38] Jrschellenberg commented on #14
Please see the Screenshot Below. Canada is not needed to Be selected Again, as the logic will auto select Canada as a Region.

This is a fundamental requirement since the data needs to be split up as regions, and every Jurisdiction must have an "All" Region that encapsulates all of the Data of that region.

This is why this region appears here. Although I do see your point for not requiring it as

[2020-03-14 20:38] #14 closed, assigned to nobody

[2020-03-19 02:23] Jrschellenberg commented on #9
Have opted ot keep the blue bar, will just remove CFMS logo text. Will be utilized for Help Link and Switching Views

[2020-03-19 02:23] #9 closed, assigned to nobody

[2020-03-20 13:21] Jrschellenberg commented on #18
This is Now Fixed

[2020-03-20 13:21] #18 closed, assigned to nobody

[2020-03-20 13:22] Jrschellenberg commented on #16
This is now Fixed with new CSV Upload

[2020-03-20 13:22] #16 closed, assigned to nobody

[2020-03-20 13:23] Jrschellenberg commented on #15
This is now fixed

[2020-03-20 13:23] #15 closed, assigned to nobody

[2020-03-20 13:23] Jrschellenberg commented on #2
This is now Fixed

[2020-03-20 13:23] #2 closed, assigned to nobody

[2020-04-16 04:07] amansayal opened #19 "Bug- Data Sets are Switching"
Hi,

If I select ONE jurisdiction (i.e. Ontario or BC ), and select certain indicators like physician #, I will get the correct number (i.e. ~400 for # of ophthalmologists in Ontario,  ~200 ophthalmologists in BC). However, if I compare two jurasdictions, the numbers get swapped. For example, in the stated example, it will show ~200 ophthalmolgists in Ontario and 400 ophthalmologists in BC.

[2020-04-17 19:06] ghost opened #20 "PD responses format + link doesn't work"
Re: PD responses tab

1. For the Ontario PD comments, the questions should be spaced out ... perhaps we should've inputted the responses with a | break between every question?

2. For "To see all Program Director responses for every specialty and for every year click here" - the link over "here" doesn't open on its own. When I right-clicked and selected "Open link in new tab" it took me to the "No

[2020-04-17 19:12] ghost opened #21 "Number formatting"
I think the bigger numbers (>1,000) would be easier to read with commas. For example, 300000.00 = 300,000.00. I noticed this specifically with the wage and number of physicians. Screenshot included below.

<img width="1792" alt="Screen Shot 2020-04-17 at 3 10 49 PM" src="https://user-images.githubusercontent.com/63875796/79605400-d4778b80-80bd-11ea-9479-28f58af883fc.png">

[2020-04-17 19:59] ghost commented on #19
I found this to be an issue as well! Looking at Ophthalmology in ON, the average # physicians initially said 17 (which is incorrect) when I was comparing with AB, BC, ON, and NL. Then I tried looking at ON only and 2 things happened: 1) it showed ON, BC, ON again, and NL; and 2) it showed the correct average for the second ON result (449.50) but not the first, which seems to have been swapped with

[2020-04-17 20:05] st4nya commented on #20
Numbers seem to be off for Cardiology. I think the NL and PEI numbers are swapped ... and I think NWT should be 0.

(also side note, the NWT link in the provincial resources doesn't have the same heading as the others)

Screenshots for both below.

<img width="1792" alt="Screen Shot 2020-04-17 at 4 01 46 PM" src="https://user-images.githubusercontent.com/63875796/79609706-3687bf00-80c5-11ea-8fca-8

[2020-04-17 20:06] ghost commented on #19
Numbers seem to be off for Cardiology # of physicians as well. I think the NL and PEI numbers are swapped ... and NWT should be 0.

(also side note, the NWT link in the provincial resources doesn't have the same heading as the others)

Screenshots for both below.

<img width="1792" alt="Screen Shot 2020-04-17 at 4 01 46 PM" src="https://user-images.githubusercontent.com/63875796/79609835-6d5dd500-

[2020-04-18 02:33] basumoni opened #22 "Specialty resources do not show up"
Re: Specialty resources tab

for any given specialty, whether comparing specialties or jurisdictions, specialty resources tab at the bottom is always empty, example here:
![Annotation 2020-04-17 223231](https://user-images.githubusercontent.com/63878446/79626086-6c479a80-80fb-11ea-8bdd-70abb4e4c5fd.jpg)

[2020-04-18 02:44] basumoni commented on #19
This also happens when comparing specialties in one jurisdiction: For example, here I am comparing multiple specialties in Canada - data sets (here I'm using # of physicians, # of vacancies, physician-pop ratio) seems to have been swapped for GIM vs Geriatrics, although critical care is correct.
![swapped_specialties](https://user-images.githubusercontent.com/63878446/79626290-fa705080-80fc-11ea-9

[2020-04-18 16:42] Jrschellenberg commented on #19
Great find everyone! This is definitely a bug that is going on. I'll let you know once it's fixed.

[2020-04-18 16:45] Jrschellenberg commented on #22
Good find! I will investigate this, I believe there was issues with the CSV and I may have forgotten to reimport this data! Thank you for bringing this to my attention!

[2020-04-18 16:47] Jrschellenberg commented on #20
Thanks you for finding this! I will bring this to Attention with Dax to discuss it in more detail

[2020-04-18 16:48] #17 closed, assigned to nobody

[2020-04-18 16:48] #1 closed, assigned to nobody

[2020-04-18 16:52] Jrschellenberg commented on #21
This is a nice improvement that we can quickly add I feel.

Context for myself for later

var n = 34523453.345
n.toLocaleString()
"34,523,453.345

[2020-04-19 23:33] Jrschellenberg commented on #21
Remove (1) from Data points, Allow (2), but if there is only 1 Source, Remove the Text from it

[2020-04-19 23:37] DaxBourcier opened #23 "Missing data issue"
![Screen Shot 2020-04-19 at 8 37 12 PM](https://user-images.githubusercontent.com/62123024/79702772-9923bb00-827d-11ea-9c60-5a45085a374d.png)

[2020-04-19 23:38] Jrschellenberg commented on #23
May be related to #19

[2020-04-21 01:05] Jrschellenberg commented on #22
This is now Fixed

[2020-04-21 01:05] #22 closed, assigned to nobody

[2020-04-21 16:05] Jrschellenberg commented on #21
This is now Fixed

[2020-04-21 16:05] #21 closed, assigned to nobody

[2020-04-21 20:48] basumoni opened #24 "Duplications in select specialty menu"
There are two duplications in the list of specialties on the select specialty menu (on the sidebar). These duplications are:
Otolargyngology-Head and Neck Surgery
Public Health and Preventive Medicine

In both of these cases, if you select the first option, the tables return empty. The second one returns data and seems to be functional. Attached a picture here to see:
![ent_redundancy](https://use

[2020-04-25 23:02] DaxBourcier opened #25 "Switch Main Resources"
The links to CaRMS, CIHI, CMA and CAPER should be under the Data source tab rather than the other resources tab. (see pictures 1 and 2).
![Screen Shot 2020-04-25 at 7 58 32 PM](https://user-images.githubusercontent.com/62123024/80292798-a504f680-872f-11ea-9302-258d26acad14.png)
![Screen Shot 2020-04-25 at 7 58 38 PM](https://user-images.githubusercontent.com/62123024/80292800-a6362380-872f-11ea-9b

[2020-04-25 23:14] siddiqmoolla opened #26 "links under data sources"
would it be possible to have the links to CARHMS, CIHI, and CMA under the data sources heading. they are clickable under the other resources and informations heading already.

[2020-04-25 23:21] DaxBourcier opened #27 "Learn More --> User Guide"
Just change the wording from "Learn More" to "User Guide"

![Screen Shot 2020-04-25 at 8 19 06 PM](https://user-images.githubusercontent.com/62123024/80293011-0b8b1400-8732-11ea-8fad-1a23e3e8041d.png)

[2020-04-25 23:39] DaxBourcier commented on #20
This here:
https://drive.google.com/drive/folders/117AzAJcCTmHXuuW6PFLLhMIZ62NweP5A?usp=sharing
is the official link for the "To see all Program Director responses for every specialty and for every year click here"

[2020-04-25 23:43] DaxBourcier opened #28 "Changes in wording (under this issue tracker)"
This sentence should read "There are no specialty resources for this specialty."

![Screen Shot 2020-04-25 at 8 40 18 PM](https://user-images.githubusercontent.com/62123024/80293358-11cebf80-8735-11ea-87eb-63c43b217ca4.png)

[2020-04-25 23:47] DaxBourcier commented on #28
Similarly, this sentence should read "There are no provincial resources for this province"

![Screen Shot 2020-04-25 at 8 43 49 PM](https://user-images.githubusercontent.com/62123024/80293413-830e7280-8735-11ea-8221-d67b3bba989c.png)

[2020-04-25 23:49] DaxBourcier commented on #28
Should read "Other Useful Resources:"
![Screen Shot 2020-04-25 at 8 48 41 PM](https://user-images.githubusercontent.com/62123024/80293497-40996580-8736-11ea-90ae-6c86422a11ab.png)

[2020-04-25 23:50] DaxBourcier commented on #28
These should not have : after the name.
![Screen Shot 2020-04-25 at 8 49 50 PM](https://user-images.githubusercontent.com/62123024/80293507-5870e980-8736-11ea-811c-fe5aa39da864.png)

[2020-04-26 00:06] DaxBourcier commented on #28
This sentence would be better as normal text (to match the same size and font as the text under the provincial resource and specialty resources tabs). It should read "This work is in compliance with the General Data Protection Regulation. The (#) after data points means that the number shown was averaged by that number of the following sources."

![Screen Shot 2020-04-25 at 8 51 51 PM](https://use

[2020-04-26 00:10] DaxBourcier commented on #13
Similarly to this issue, when you are on table view and want to compare specialties, when you select the jurisdiction, "All" is defaulted. To select a different health region, you need to unselect "All" before you can select another region. Ideally, the user would be able to simply click on another health region and the switch would occur automatically.
![Screen Shot 2020-04-25 at 9 07 56 PM](http

[2020-04-26 00:13] DaxBourcier commented on #28
When you look at Program Director responses, it seems to always start with a dash "-" rather than the text itself. If we could just remove that dash and have the text start from the top that would be great.
![Screen Shot 2020-04-25 at 9 11 44 PM](https://user-images.githubusercontent.com/62123024/80293836-91f72400-8739-11ea-806e-8994d5ce124a.png)

[2020-04-26 00:26] DaxBourcier opened #29 "Table view "running out of space""
If you add a lot of columns in a table it runs off at the very right as seen in the screenshot.
![Screen Shot 2020-04-25 at 9 25 41 PM](https://user-images.githubusercontent.com/62123024/80294019-78ef7280-873b-11ea-98bf-5d50c1ebbda5.png)

[2020-04-26 00:42] DaxBourcier opened #30 "Map View initial view"
I was wondering if it would be possible to se the map to appear in this position on the screen as well as with the text boxes in this set up exactly, so that no matter how many data sets a user runs at a time, that they will fully be visible right off the bat without them having the move anything around.
![Screen Shot 2020-04-25 at 9 40 01 PM](https://user-images.githubusercontent.com/62123024/802

[2020-04-26 00:43] BrandoCC opened #31 "Program Director Responses Alignment"
When selecting a specialty the comments sometimes get split into two different sections and put on the other side of the column. For example, comparing by specialties and selecting NL All regions, if you select Anesthesiology when you open the program director responses the comment is split into two different columns. This makes it seem like there are two separate comments when in fact there is on

[2020-04-26 01:15] DaxBourcier commented on #31
How about we have have one column for the PD responses while keeping the other tabs as two columns? I think that would solve the issue.

[2020-04-26 01:24] BrandoCC opened #32 "Selecting Specialty/Data Sets"
This would something that would be considered on an additional contract. I believe that when selecting the specialty and the data sets it would be more user friendly if instead of the columns, the options were displayed as a big pop up window. Within the window all the options would be displayed as one table (ex: 5X5 or whatever combination that works) for each option. Then once the options are se

[2020-04-26 01:26] BrandoCC opened #33 "Map View: Selecting a province"
Whenever I click on a province it becomes highlighted. However, I cannot select another province afterwards, it only keeps the initial province highlighted.

[2020-04-26 01:35] a-ht-d opened #34 "On tablet view, problem with scrolling to the very bottom"
![6D69C1F3-750C-4C1E-BA56-09973E557500](https://user-images.githubusercontent.com/64338618/80294872-7f7dea00-873b-11ea-9996-61784a006656.jpeg)

When I inputted all the data sets, the last two rows are difficult to scroll to - it bounced back up when I tried to scroll down and on a tablet, the scroll had to be held down to view it.

[2020-04-26 01:40] a-ht-d opened #35 "“Provincial Resources” link overlap (tablet view)"
![A368F5E1-4381-476D-9677-BFD1E3DB40DA](https://user-images.githubusercontent.com/64338618/80295053-51010e80-873d-11ea-9d45-75739f02221e.png)

Formatting issue that might need fixing

[2020-04-28 18:22] Jrschellenberg commented on #13
I am going to postpone this until after MVP. This would be a nice UI improvement!

[2020-04-28 18:25] Jrschellenberg commented on #20
Perfect, Thanks Dax!

For Mel.

Just need to Add the link above, Don't worry about the original issue, this will still require some coordination between Dax and I

[2020-04-28 18:32] Jrschellenberg commented on #23
Dax, May you clarify as to what the Bug is? I took a look at the data and it appears this is rendering correctly, To clarify there is NO Data that is missing.

Are you referring perhaps to the Program Director Comments missing?

Please let me know!

[2020-04-28 18:38] Jrschellenberg commented on #24
This should be Easy to fix, just need to remove it from the Database on the Backend. This is due to Old Data persisting when we were creating the template.

for Dev:

Need to remove `Otolargyngology-Head & Neck Surgery`
Need to remove `Public Health & Preventive Medicine`

[2020-04-28 18:41] Jrschellenberg commented on #25
Dax, are you ok if we just Merge these two Tabs together?

We could have the following:

For now would just be hardcoded, but we could add the new Sources and link them.

Would have the message `For GDPR Compliance...`
Then below it would have the content from `Other resources and Information`

[2020-04-28 18:42] Jrschellenberg commented on #26
Related to #25

[2020-04-28 18:42] #26 closed, assigned to nobody

[2020-04-28 18:43] Jrschellenberg commented on #29
Dax, We will need to talk about this. This is something that we brought forward to you originally when we designed the Application.

This is a Feature, not a bug as there is no easy way to display massive amounts of data unless we use a scrollable Table!

[2020-04-28 18:43] #29 closed, assigned to nobody

[2020-04-28 18:46] Jrschellenberg commented on #32
We can discuss this in more detail to figure out if we should want to invest the time to Design the application this way. However, I will say that Raj, Jt, and myself thought about approaching initially to design the application this way, however, we decided to not go forth with this.

The reason is that typically in a Design, the more windows, steps, a user has to take, it overall makes the appli

[2020-04-28 18:47] Jrschellenberg commented on #33
May you check if you are comparing provinces or Specialties?

If you are comparing specialties, then this a Feature and not a bug.

By design, the Application only allows for 1 Health region to be specified at a time if you are comparing by specialties!

[2020-04-28 18:49] Jrschellenberg commented on #34
Mel,

Can we `add some padding for the Main content` so that the tables show up without needing to scroll the Slider Table underneath/

As well, can we `Decrease the height` of the `slider table`

[2020-04-28 18:50] Jrschellenberg commented on #35
Just needs some Css Fixing.

[2020-04-28 18:52] Jrschellenberg commented on #30
This is achievable, but due to time constraints, if we can offset this until after MVP. As this will require updating the GeoJSON, and finding all of the lat, lng coordinates individually, I also will have to setup the State to be dynamic through the geoJSON as well.

But this is totally doable!

[2020-04-29 17:26] mlaniereyes commented on #19
@Jrschellenberg
swap issue is hopefully working now. If they verify, that would be appreciated.

regarding the issue where the provinces are deleted but still shown in the table UI, Justin will look into it. Thank you :)

NOTE:
sorry, the update is still on my branch and not yet merged. Justin will update the client to verify it once it's deployed. Thank you :)

[2020-04-29 17:32] mlaniereyes commented on #35
@Jrschellenberg
changes in my branch.. Client can verify once it's merged. Thank you. :)

[2020-04-29 17:32] mlaniereyes commented on #34
@Jrschellenberg
changes in my branch.. Client can verify once it's merged. Thank you. :)

[2020-04-29 17:32] mlaniereyes commented on #28
@Jrschellenberg
changes in my branch.. Client can verify once it's merged. Thank you. :)

[2020-04-29 17:33] mlaniereyes commented on #27
@Jrschellenberg
changes in my branch.. Client can verify once it's merged.

[2020-04-29 17:34] mlaniereyes commented on #20
@Jrschellenberg
The link has been updated/added in my branch.. Client can verify once it's merged. Thank you. :)

[2020-04-29 18:27] Jrschellenberg commented on #34
Look good Mel! closing for now

[2020-04-29 18:27] #34 closed, assigned to mlaniereyes

[2020-04-29 18:28] #27 closed, assigned to nobody

[2020-05-01 17:57] Jrschellenberg commented on #35
Fix confirmed, Thanks Mel!

[2020-05-01 17:57] #35 closed, assigned to mlaniereyes

[2020-05-01 17:58] Jrschellenberg commented on #28
These are confirmed and live, Thanks Mel!

[2020-05-01 17:58] #28 closed, assigned to mlaniereyes

[2020-05-02 17:35] Jrschellenberg commented on #19
Please Confirm, this is now fixed and working

[2020-05-02 17:35] #19 closed, assigned to Jrschellenberg

[2020-05-02 17:55] Jrschellenberg commented on #31
This is now Fixed!

[2020-05-02 17:55] #31 closed, assigned to nobody

[2020-05-02 20:13] Jrschellenberg commented on #24
This is now Fixed and Live

[2020-05-02 20:13] #24 closed, assigned to nobody

[2020-05-02 23:14] Jrschellenberg opened #36 "Reset State when user clicks Back button"
To Replicate:

1.) Go to Table view
2.) Go to Map view
3.) Go to Table view
4.) Select big Query, All specialties, all Datasets
5.) HIt apply
6.) click Back button in browser

![Annotation 2020-05-02 181340](https://user-images.githubusercontent.com/6064137/80894460-b191cd80-8ca0-11ea-9d15-b1ea30c4ff54.png)

[2020-05-02 23:20] Jrschellenberg commented on #33
After talking with Dax, we believe this is in regards to the Highlighting Yellow of the Map.

My apologies, I misunderstood what you said before. This is a feature that we will be implementing after the MVP

Feature,

1.) User is on map view
2.) User hovers mouse over Province geoJSON
3.) GeoJSON highlights
4.) User Clicks Highlighted province
5.) Map Zooms into Regional Map view of Province

[2020-05-02 23:23] Jrschellenberg commented on #23
This is now Fixed and complete!

[2020-05-02 23:23] #23 closed, assigned to nobody

[2020-05-02 23:29] Jrschellenberg commented on #25
For Task

1.) Remove Tabs Data Sources, and, Other Information
2.) Create Tab called "Data Sources and Other Information"
3.) Combine the Information from 1 above into tab in 2 above.

4.) Reorder them to the following:
 (from left to right): PD responses, specialty, provincial, Data Sources and Other Information

[2020-05-02 23:42] Jrschellenberg commented on #20
This one Will be worked on After MVP

Currently, Ontario PD responses are formatted differently from other PD Responses

1.) Need to Wipe Database containing current PD responses
2.) Need to Update PD responses to contain a new delimiter
3.) Add Logic to the front end to Allow OPTIONALLY a 3rd delimiter
4.) Add the new PD responses to Database.

[2020-05-14 23:19] Jrschellenberg commented on #36
Hey Dax, My apologies, but upon investigating this task. It seems there is some other issues that will need to be resolved in order to properly rectify this issue. I am going to mark this to be done after the MVP. It will also add performance gains to other areas of the application on how it's State is being managed

[2020-05-15 00:08] Jrschellenberg commented on #25
This is now merged and live

[2020-05-15 00:08] #25 closed, assigned to nobody

[2020-06-27 03:49] Jrschellenberg opened #37 "Dev Ops the CFMS Backend API"
Add Continous Dedeployment so Backend API will auto deploy on Pushing Master Branch

[2020-06-30 06:50] DaxBourcier opened #38 "Program director comment + provincial resources + specialty resources appearing as data set"
![image](https://user-images.githubusercontent.com/62123024/86093060-c31b0a00-ba84-11ea-828e-08f4fe537990.png)

[2020-06-30 06:56] DaxBourcier opened #39 "Graph title and axes"
1) The graph title would have to be changed to reflect whether the user selects a province, a health region or Canada as a whole
2) Center title with the middle of the graph
3) Please remove the "data set:" before the data set name in the y axis.
4) Make enable disable min/max the same font and size as the graph

![image](https://user-images.githubusercontent.com/62123024/86093439-57856c80-ba85-11

[2020-07-01 01:09] basumoni opened #40 "Some issues with data displayed"
Some of the data displayed for different data sets cannot be true
I have taken some screenshots here, but for example: in one graph view, the average wage for obstetrics in 2017 is 1084, but in 2019, it's 417996. Unrealistic numbers also appear for median age (ex median age for Obstetrics in 2017 is like 1750)

![Annotation 2020-06-30 202408](https://user-images.githubusercontent.com/63878446/8618

[2020-07-01 04:08] #37 closed, assigned to nobody

[2020-07-01 16:09] Jrschellenberg commented on #40
@basumoni Any Data from before the year 2019 is Test Data, I ran it through a Number Generator. It is merely for Development purposes only. Sorry!

Once we get the previous data and can add it in. It will then reflect real data.

[2020-07-01 16:09] #40 closed, assigned to nobody

[2020-07-01 16:15] Jrschellenberg commented on #39
@DaxBourcier This is now fixed

Please review and if there are any issues we can reopen the Ticket!

[2020-07-01 16:15] #39 closed, assigned to nobody

[2020-07-01 16:16] Jrschellenberg commented on #38
Hey @DaxBourcier

This is highly likely due to me using a bad template by accident when I uploaded the Test Data. This issue will resolve itself when we Re import the Data again before launch!

[2020-07-01 16:16] Jrschellenberg commented on #38
Leaving Open for reference

[2020-07-04 22:24] Jrschellenberg commented on #30
This is now merged and live on Latest Staging Build

https://quirky-edison-afaa90.netlify.com/

[2020-07-04 22:24] #30 closed, assigned to nobody

[2020-07-06 16:07] Jrschellenberg commented on #32
This has been implemented with Redesign of Sidebar

[2020-07-06 16:07] #32 closed, assigned to nobody

[2020-07-06 16:18] Jrschellenberg commented on #33
This is now Impelemented and will be added on next release

[2020-07-06 16:18] #33 closed, assigned to nobody

[2020-07-06 18:41] Jrschellenberg commented on #13
This is finished and will be Implemented in next release

[2020-07-06 18:41] #13 closed, assigned to nobody

[2020-07-06 21:25] Jrschellenberg commented on #36
This issue is now Fixed and Resolved It will be available on latest Staging Release

[2020-07-06 21:25] #36 closed, assigned to nobody

[2020-07-07 00:10] DaxBourcier opened #41 "Left toolbar steps"
If possible to have the Table view/graph view/map view as Step 1 using the same format as the current step two where the user selects between the three options. The current step 1 would become step 2 and so on.
![image](https://user-images.githubusercontent.com/62123024/86672453-0c131700-bfcd-11ea-9cdb-cf8af4377fe1.png)

[2020-07-07 21:40] Jrschellenberg commented on #41
This is now fixed and cycled into next release

[2020-07-07 21:40] #41 closed, assigned to nobody

[2020-07-17 23:57] Jrschellenberg commented on #38
This is now resolved!

[2020-07-17 23:57] #38 closed, assigned to nobody

[2020-08-11 01:11] DaxBourcier opened #42 "Zoom in and out button on map view"
Is there a way to move the zoom in and out button so that it is not get covered by the bottom toolbar? (could move up under the fullscreen option if possible.

![image](https://user-images.githubusercontent.com/62123024/89845955-489adb00-db56-11ea-9e8c-517b63093e6b.png)

[2020-08-11 01:15] DaxBourcier opened #43 "Specialty resources duplicates in map view"
Works fine in Table and Graph view but is duplicated maybe 50x or so in map view for every specialty. Example here for general surgery

![image](https://user-images.githubusercontent.com/62123024/89846035-81d34b00-db56-11ea-941e-cb14a8a41d1f.png)

[2020-08-11 01:17] DaxBourcier opened #44 "Provincial resources not showing up in table and graph view"
Provincial resources not showing up at all in table and graph view:

![image](https://user-images.githubusercontent.com/62123024/89846259-19d13480-db57-11ea-9dad-a7345880b545.png)

[2020-08-11 01:19] DaxBourcier opened #45 "Not all provincial resources listed"
Not all provincial resources listed (in map view because that's the only one working as of now):

![image](https://user-images.githubusercontent.com/62123024/89846376-6f0d4600-db57-11ea-8cec-bd3692c9990c.png)

Missing all provinces East of Saskatchewan.

[2020-08-11 01:24] DaxBourcier opened #46 "Remove text in Other Resources"
Remove the text "This work is in compliance with the General Data Protection Regulation. The (#) after data points means that the number shown was averaged by that number of the following sources."

Keep "Here are the links to the main data sources supporting this platform" at the top left AND add a ":"

At the bottom of this page, please add "For more information on how to interpret the data or m

[2020-08-11 01:27] DaxBourcier opened #47 "PD comments are not working in any views for all specialties"
This is an image of a table comparing all specialties with all data sets.

![image](https://user-images.githubusercontent.com/62123024/89846796-9e708280-db58-11ea-94cb-cdccb02e14da.png)

[2020-08-11 01:30] DaxBourcier opened #48 "Apply button half hidden on intitial view"
This is really a tiny detail, and is purely design, but would it be possible to move the apply button upwards so that the user can see the whole button of the initial view?

![image](https://user-images.githubusercontent.com/62123024/89846896-d5df2f00-db58-11ea-83ff-9f6078ba49b6.png)

[2020-08-11 14:32] Jrschellenberg commented on #47
Can I have an example of what you queried please! I need a screenshot of the whole screen, mainly the sidebar showing what Data you queried to get this result!

[2020-08-11 14:35] Jrschellenberg commented on #47
O my apologies, I see you queried for all specialties and datasets. What Region did you query for Dax!

[2020-08-11 15:40] DaxBourcier commented on #47
Hey Justin,

Replying here because I'm on my phone. I'm pretty sure this specific example was for Canada, but it doesn't not work for any jurisdiction. Are they appearing anywhere when you run a query?

Thank you,

Dax Bourcier

On Aug. 11, 2020 11:36, Justin Schellenberg <notifications@github.com> wrote:

O my apologies, I see you queried for all specialties and datasets. What Region did you quer

[2020-08-16 17:26] DaxBourcier opened #49 "Change initial view text"
If possible to change the initial view text from No results found to "Use the left toolbar to get started".

![image](https://user-images.githubusercontent.com/62123024/90340132-50320800-dfcc-11ea-8da9-4777bf219a3e.png)

[2020-08-16 17:35] DaxBourcier opened #50 "Graph view - years"
Please remove years 2014 and before for the year selection everywhere on the platform. We only have data from 2015 onwards are are not planning on going back any earlier.

![image](https://user-images.githubusercontent.com/62123024/90340297-8754e900-dfcd-11ea-834f-be850adbfe50.png)

[2020-08-17 22:09] cfms-website commented on #50
These years are only present due to Testing Data for the Graph view. They will be removed when we use Production Data

[2020-08-17 22:13] cfms-website commented on #49
Fixed, Will be put forth on next staging release

[2020-08-17 22:13] #49 closed, assigned to nobody

[2020-08-17 22:17] cfms-website commented on #48
This is fixed, and will show up in the next release of Staging

[2020-08-17 22:17] #48 closed, assigned to nobody

[2020-08-17 22:18] cfms-website commented on #42
This is fixed

[2020-08-17 22:18] #42 closed, assigned to nobody

[2020-08-17 22:29] Jrschellenberg commented on #46
@DaxBourcier I have updated it, and can be seen on the newest version of Staging that will be released.

May you provide me with the link that you want for the user guide to point to? I will update it in this section here, as well as in the Pop up modal User guide for users!

[2020-08-17 23:00] Jrschellenberg commented on #44
This is working as intended, there are no Provincial resources available for the Region of Canada - All

[2020-08-17 23:02] Jrschellenberg commented on #45
Good find! I believe this is my fault, I had canceled an upload early when I was creating the uploading functionality and thought I had imported the provinces correctly!

I reran the upload and they are now all there!

[2020-08-17 23:02] #45 closed, assigned to nobody

[2020-08-17 23:10] DaxBourcier commented on #44
Hahaha that's what is was. I guess I was just used to selecting Canada-All for graph view because it has the dummy data. Sorry about that.

[2020-08-17 23:10] #44 closed, assigned to nobody

[2020-08-17 23:16] DaxBourcier commented on #46
Will have this soon.

[2020-08-17 23:27] Jrschellenberg commented on #43
Although it appears like they are similar, those pieces of text are not, and that is why they are appearing twice.

here is an example of a couple

![Screenshot from 2020-08-17 18-24-57](https://user-images.githubusercontent.com/6064137/90453749-1558ce80-e0b7-11ea-801d-c7ee0d321228.png)

Notice the `4` and `5` highlighted in the picture.

The solution for this would be to Go through and fix the Ex

[2020-08-17 23:30] Jrschellenberg commented on #50
Sorry Dax, this was me commenting above, I was still logged into the CFMS account!

I will keep this ticket open just as a reminder and a check for us when we move to production Data!

[2020-08-17 23:55] Jrschellenberg commented on #47
I have started investigating this. I am using a CSV that we previously uploaded, it isn't adding the PD responses into the Database, will let you know once I have a more informative update as to what the issue is!

[2020-08-18 18:16] DaxBourcier commented on #43
Yes sure! We will make sure the text is unique in the upcoming specialty and provincial resources templates. I wonder if this happened because the text was dragged across cells and Excel automatically added a number at the end (sort of like it does for strings of numbers). Either way I'm glad we found this because that means many of those links likely don't work. Thanks!

[2020-08-20 22:04] DaxBourcier opened #51 "Graph view doesn't appear"
Graph view doesn't appear when applied. I've tried multiple data sets that I know we have and nothing appears.

![image](https://user-images.githubusercontent.com/62123024/90830364-e8efbd00-e317-11ea-87bf-b03c6f4c4443.png)

[2020-08-21 06:03] Jrschellenberg commented on #51
Hey Dax! I was investigating this. I have fixed the issue for comparing Specialities, However, it is still broken when comparing Jurisdictions.

I know what the cause of the bug is and will fix it, I was hoping to have this fixed for you before your meeting, but I ran out of time tonight. I should have the comparing Jurisdictions fixed next week though!

[2020-08-21 06:04] Jrschellenberg commented on #50
I removed all Data from before the year of 2015, closing this for now. However, please note, there is still some test data surrounding "Canada - All" within the Staging Database!

[2020-08-21 06:04] #50 closed, assigned to nobody

[2020-08-21 23:52] DaxBourcier commented on #51
Sounds good, thanks

[2020-08-23 19:23] DaxBourcier opened #52 "Wrong data set name"
This data set should read "Number Of Graduates From Province 2 Years Ago That Are Currently Practicing In Same Province"

![image](https://user-images.githubusercontent.com/62123024/90986889-baaeef00-e55c-11ea-8959-75d2abe99892.png)

[2020-08-23 19:34] DaxBourcier opened #53 "Specialty Demand Layer"
1) Could we change No data to "Data Not Yet Available"

2) Could we change all the health region shade colour to yellow ("Data Not Yet Available").

2) Further, only some health regions appear at different zoom levels:
![image](https://user-images.githubusercontent.com/62123024/90987027-0f9f3500-e55e-11ea-9623-f738447e03fe.png)
![image](https://user-images.githubusercontent.com/62123024/90987033-2

[2020-08-23 19:48] DaxBourcier opened #54 "Neurology in Graph view - No data"
There seems to be no data for Neurology in graph view, but the data is available in Table view

![image](https://user-images.githubusercontent.com/62123024/90987311-5a21b100-e560-11ea-8951-23a052c5dc26.png)

[2020-08-24 23:34] Jrschellenberg opened #55 "Update Map View with CaRMS Regional view"
“could we make it so that we have a rule in there for coding that will show the highest view (like most zoomed out view) that actually has data when the user clicks apply. For example say a user selects number of vacancies as their only data set, the initial view would show the provincial level. If the user selects # who ranked first the initial view would be of the Canadian regions.”

@DaxBourcie

[2020-08-24 23:38] Jrschellenberg commented on #55
Hey Dax!

Just some questions regarding this issue

1.)Would there be more Datasets?

2.) I can add something that logic in, currently however, if we do it using zoom level. The end-user would have to be zoomed out in order to see the regional mapping.

So for example, if I queried
`Number of CMG applicants who ranked specialty as first choice`

And was at a zoom level of 4, 5 I would still see th

[2020-08-24 23:44] Jrschellenberg opened #56 "Update Mapping Layer Button [UI]"
Need to do the following:
1. Have the Map layer UI button hidden on Default.
2. Update logic to have all Dropdowns open by default

[2020-08-24 23:45] Jrschellenberg opened #57 "Remove Google Base Layer from Map Layers [UI]"
Investigate and add so Google Layer is always applied

[2020-08-24 23:46] Jrschellenberg opened #58 "Update Zooming Functionality [UI]"
Ideally when the user clicks on a province, it would zoom in to show the next level of data. Ex: Canadian region view, user clicks on any region it should show all of Canada, the user clicks on Québec, it should show the most zoomed out view that shows the health regions within Québec.

Investigate logic to handle zooming functionality,

[2020-08-26 00:56] Jrschellenberg commented on #54
Please Check this, should be fixed now! Along with other Graph Related issues!

[2020-08-26 00:56] #54 closed, assigned to nobody

[2020-08-26 00:56] Jrschellenberg commented on #51
Please investigate this again! It should be fixed now Dax! If you find another issue, just Reopen the ticket!

[2020-08-26 00:56] #51 closed, assigned to nobody

[2020-08-26 01:39] Jrschellenberg commented on #57
This is fixed and will be in next release to staging

[2020-08-26 01:39] #57 closed, assigned to nobody

[2020-08-26 02:35] Jrschellenberg commented on #58
This is now fixed and will be available in next staged release

[2020-08-26 02:35] Jrschellenberg commented on #56
This is now fixed and will be available on next Staged Release

[2020-08-26 02:35] #56 closed, assigned to nobody

[2020-08-26 02:45] Jrschellenberg commented on #53
Hey @DaxBourcier I updated the Text.

I unfortunately am having a hard time to reproduce this issue, I queried the exact same parameters and this is what it looks like for me.

![Screenshot from 2020-08-25 21-43-00](https://user-images.githubusercontent.com/6064137/91249299-3905bf80-e71c-11ea-9b50-8d920f9b7779.png)
![Screenshot from 2020-08-25 21-43-34](https://user-images.githubusercontent.com/60

[2020-08-26 02:46] Jrschellenberg commented on #43
No problem! Let me know once you have rectified the Specialities resource information in the Template, and then I will be able to do a fresh upload of it!

[2020-08-26 02:53] Jrschellenberg commented on #47
@DaxBourcier This should now be fixed. The template I had for PD responses, didn't have any source assigned to it. So I as we previously discussed, assigned it the source of `CIHI`

This is now working. For Canada, there are no PD responses in the template that I currently have

If there is now, we will need the HHRTF fill out an updated PD responses Dataset. Once they have, I can upload it to add

[2020-08-26 12:25] DaxBourcier commented on #55
Hey Justin,

There's going to be other issues related to zoom coming up post meeting. There's a few issues with different aspects of the zoom function. It would be easier to organise a 15min call to go over them because it's harder to write out as issues than to talk about while showing you. My next availability would be Friday anytime except 2-5pm ADT. Thanks!

[2020-08-26 12:35] DaxBourcier commented on #53
Seems to work fine for me now as well.

[2020-08-26 12:35] #53 closed, assigned to nobody

[2020-08-26 12:39] DaxBourcier commented on #58
I also found out that the there is no interaction possible with the health regions when specialty demand layer is applied. Only some health regions are "clickable". Using the other layers there are no issues with this. I reopened the issue because I think it might be related.

![image](https://user-images.githubusercontent.com/62123024/91304477-ec53d000-e77f-11ea-9f07-464e02f6a58e.png)

[2020-08-26 15:22] Jrschellenberg commented on #55
Hey Dax! I set up a meeting for us on 5:15 PM ADT Aug 28th this Friday!

[2020-08-26 22:54] DaxBourcier commented on #47
Looks good! Thanks

[2020-08-26 22:54] #47 closed, assigned to nobody

[2020-08-26 22:54] DaxBourcier commented on #20
I think this is completed right?

[2020-08-26 23:54] Jrschellenberg commented on #20
A lot of issues surrounding this ticket have been resolved, however there was still one more thing.
This was revolving around the Ontario PD responses needing another Delimiter.

If it is possible, I would like to hold off on this feature until after Phase 2 and launch of the AGM. But we can either close this ticket and create a new one for that request or keep this one open for visibility

[2020-08-28 00:56] basumoni opened #59 "creating zooming ability for region information flags"
In the map view, some regions (such as southern Ontario) look particularly crowded, and the pin with the information flag for each region is often placed outside of the central urban area for that region.

To help the user navigate all of this crowded information, we discussed it may be helpful if when a user clicks on a particular information flag, the view can zoom in to that flag so the user ca

[2020-08-28 19:58] DaxBourcier opened #60 "Map view feedback from HHRTF"
1) In the specialty demand (all colours) and population density layer (some of the darker colours) are fully opaque and you can't see anything below them. If possible to change the colour shade or make them more translucent so we can localize cities and the map below please.

2) Bold the data more and if one of the font colours (light blue) can be changed to something more readable.
![image](https

[2020-08-28 20:05] DaxBourcier opened #61 "Initial Map view"
The initial map view. may be problematic because it looks like we're excluding the territories:

![image](https://user-images.githubusercontent.com/62123024/91610827-5cb14b80-e950-11ea-8be1-9a5a1852c10a.png)

Would it be possible to have the initial view be the Canadian provinces & territories instead of the Canadian regions? Moreover, would it be possible to only few the Canadian regions if there

[2020-08-28 20:11] DaxBourcier opened #62 "PD responses text"
Directly after "There are no program director response for this specialty." Add: "Note that Program Director responses are available starting from 2019." This text should also disappear if there is a PD response available.

[2020-08-28 20:49] Jrschellenberg commented on #20
Add a new Delimiter, that will do a <br /> on the page. Will inform HHRTF of delimiter to use.

[2020-08-28 20:52] Jrschellenberg commented on #58
Make initial zoom -1

[2020-08-28 20:56] Jrschellenberg commented on #58
Have the CaRMS data only get pulled in only when you query the following:

[
  {
    "name": "Number of CMG applicants"
  },
  {
    "name": "Number of CMG applicants who ranked specialty as first choice"
  }
]

It will only pull it in the CaRMS dataset, when the following above datasets are queried

[2020-08-28 20:58] Jrschellenberg commented on #61
Similar to #58 Need to reduce Initial zoom constant by 1

[2020-08-28 21:19] Jrschellenberg commented on #59
For Map View:

For Zooming functionality, do following:
When click map, do the current Map zooming logic, center screen and go in 1 more.

When user is at zoom level of 6+ Then do the following:
Old logic of fit the map to regional bounds.

Other Additions
Look into potentially adding a x in top right of Pop up Tooltip, that allows user to close the map marker, clicking map marker will reopen

Whe

[2020-08-29 00:51] Jrschellenberg commented on #60
1.) I have lowered the opacities. If you need them any lower let me know! We may have to play with the numbers a bit to find something that works!

2.) I have updated all of the Colors to be at least a 4.5, which meets WCAG AA: accessibility standards for normal Text, as well as made it Bold

3.) This will be addressed in ticket

4.) As we discussed, we will investigate other options for this.

Da

[2020-08-29 01:18] Jrschellenberg commented on #62
This is now fixed and will be added in the next staged release!

[2020-08-29 01:18] #62 closed, assigned to nobody

[2020-08-29 01:34] Jrschellenberg commented on #52
This is now fixed and will be released in next update

[2020-08-29 01:34] #52 closed, assigned to nobody

[2020-08-29 01:43] Jrschellenberg commented on #20
Hey @DaxBourcier and @st4nya

So I am going to Suggest, as the third Delimiter we use the following:

`@@`

So in Total we have the following Delimiters now:

`~~`
`||`
`@@` <-- New Addition

Can you Fill out The template, with both the following for me

1.) An example of PD responses, using this new delimiter
2.) An Example of Speciality resource links using this new delimiter

[2020-08-29 01:46] Jrschellenberg commented on #61
Closing Ticket due to Relation of #58

[2020-08-29 01:46] #61 closed, assigned to nobody

[2020-08-29 01:48] Jrschellenberg commented on #58
Related to Ticket #55

[2020-08-29 01:49] Jrschellenberg commented on #55
Closing as this will be fixed and implemented in Ticket #58

[2020-08-29 01:49] #55 closed, assigned to nobody

[2020-08-29 02:17] Jrschellenberg commented on #20
O Also, one last comment, Currently the Logic for Delimiters is like this. They need to go from outside --> inside

From the Template Documentation

[code]

[2020-08-29 02:26] Jrschellenberg commented on #59
Implemented everything Above, still need to complete the following:

Other Additions
Look into potentially adding a x in top right of Pop up Tooltip, that allows user to close the map marker, clicking map marker will reopen

When user Clicks the Pop up Tooltip, it will do the Map fit to bounds logic and zoom in the health region for the user.

[2020-08-29 02:35] Jrschellenberg opened #63 "Update Speciality and Province Resource Links"
@DaxBourcier @st4nya Please take a look and if it looks good you can close the ticket!

[2020-08-29 02:36] Jrschellenberg opened #64 "ReUpload CAPER Data"
Need to Reload CAPER datasets with the percentage now fixed.

Will need to reupload all CSV's for CAPER

[2020-08-29 16:29] Jrschellenberg commented on #58
This is now Fixed, Please Review @DaxBourcier and if there is no issues, you can close this ticket, if you still find issues, please let me know!

[2020-08-29 19:46] Jrschellenberg commented on #59
@DaxBourcier This is ready for Review, Please note, I spent some time trying to implement the following:

`When the user Clicks the Pop-up Tooltip, it will do the Map fit to bounds logic and zoom in the health region for the user.`

However, It will be quite difficult to do, without doing a hacky workaround. I feel since the user can click the map layers to zoom in, I would like to postpone this f

[2020-08-30 23:56] DaxBourcier commented on #60
Hey Justin,

Looks so much better! The only thing would be to make the name of the health region and the numbers below it be in the same font and text size if possible.
![image](https://user-images.githubusercontent.com/62123024/91672185-413a7200-eb03-11ea-815b-e9459f899a70.png)
![image](https://user-images.githubusercontent.com/62123024/91672193-50b9bb00-eb03-11ea-9b2f-b7586c129ef3.png)

[2020-08-31 01:52] DaxBourcier commented on #63
Looks great! Some of the subspecialty resources will be the actual links, just because we don't want to list the name of the article because it will take too much space.

[2020-08-31 01:52] #63 closed, assigned to nobody

[2020-08-31 01:58] DaxBourcier commented on #58
Great!!!

[2020-08-31 01:58] #58 closed, assigned to nobody

[2020-08-31 02:01] DaxBourcier commented on #59
I really like it with the "X" button! No problem for the clickable health region name.

@basumoni  what are your thoughts on this?

[2020-09-01 01:35] basumoni commented on #59
much nicer! Easy for the user to clean up with the x button

[2020-09-01 11:56] #59 closed, assigned to nobody

[2020-09-07 00:58] DaxBourcier opened #65 "Zoom level for initial view"
Hey Justin,

Could we make this zoom level the initial view when you apply a query please:
![image](https://user-images.githubusercontent.com/62123024/92339364-0cdb2e80-f08c-11ea-9153-ae77313ede7c.png)

Thanks!

[2020-09-07 01:11] DaxBourcier opened #66 "Only show 2015-2019 years"
Please only show 2015-2019 data because we won't have any data except CaRMS under 2020 and this may confuse people for release.

![image](https://user-images.githubusercontent.com/62123024/92339695-d4d4eb00-f08d-11ea-9b3a-550c281e90d2.png)

[2020-09-07 01:42] Jrschellenberg commented on #66
Yep! this will be only showing 2015-2019 for production. The data on there right now is for testing purposes in the staging environment!

[2020-09-07 01:43] Jrschellenberg commented on #65
Hey there Dax! So to clarify, you want to Zoom the map out I am assuming to show CaRMS data if applicable when the user queries, correct?

[2020-09-07 02:05] DaxBourcier commented on #65
Hey Justin,

If possible to show the zoom level in the previous comment when you initially see the map. Right now it's like this and a bit too zoomed in:
![image](https://user-images.githubusercontent.com/62123024/92341835-50866600-f095-11ea-8ced-207ad16b27c1.png)

[2020-09-07 02:07] DaxBourcier commented on #65
And yes actually, when you query provincial data, to show the provincial data but at this zoom level (the one in the first comment) so that you can see all of Canada. Otherwise is starts out a bit too zoomed in as shown here:
![image](https://user-images.githubusercontent.com/62123024/92341930-ac50ef00-f095-11ea-916f-e96c7785cde3.png)

[2020-09-07 20:11] DaxBourcier opened #67 "Data sets with calculations"
Just wondering if we will be able to have the data sets with calculations included by AGM?

If not perhaps we should remove them from the front end:

![image](https://user-images.githubusercontent.com/62123024/92414967-208aa180-f12d-11ea-8c85-8a876b5e5b9f.png)

Thanks!

[2020-09-07 20:32] DaxBourcier opened #68 "Hospitals appear in wrong place when zoomed out"
There's a bug where hospitals appear in the wrong place unless zoomed in maximum. Not sure if we can fix this since we outsource it.

![image](https://user-images.githubusercontent.com/62123024/92415605-18803100-f130-11ea-9db2-9cbc90fc52e4.png)

[2020-09-07 20:41] DaxBourcier opened #69 "Specialty Demand Layer"
Hey Justin,

It looks like when you zoom in the specialty demand layer, both the layer of the provincial level and the health region superpose:

![image](https://user-images.githubusercontent.com/62123024/92415845-297d7200-f131-11ea-9fa2-90c6b683a93b.png)

Also, is it possible to have this layer appear as no data available (yellow) for launch since we don't have this data. Thanks a lot!

[2020-09-10 02:34] DaxBourcier commented on #46
Hey Justin,

Here is the PDF for the User Guide:
https://drive.google.com/file/d/13IfnTgLb8Jqy9832m2sRXGtugmQUvYet/view?usp=sharing

It's in the same folder as the Master PD Comment document. However, I was wondering if it was possible to include just have it open directly as a pdf hyperlink? (instead of having to download te PDF from the Google Drive?)

Thanks a lot!

[2020-09-12 23:21] #66 closed, assigned to nobody

[2020-09-12 23:48] Jrschellenberg commented on #64
CAPER Data is now in the Backend Repo, Will be uploaded into PROD DB

[2020-09-12 23:48] #64 closed, assigned to nobody

[2020-09-12 23:50] Jrschellenberg opened #70 "Upload Specialty Resources"
Need to upload new Specialty resources

[2020-09-12 23:50] Jrschellenberg opened #71 "Update Help Guide"
HHR Platform, Under Resources.

Intro Message:

Please use left Toolbar to get started. For more information on how to use the platform, how to interpret the data and for FAQ's, please refer to the User Guide.

[2020-09-12 23:52] Jrschellenberg opened #72 "Upload CaRMS Datasets to Staging"
Need to Test Adapter, and Upload CaRMS datasets to Staging Env

[2020-09-13 00:00] Jrschellenberg commented on #67
@DaxBourcier can you confirm if all Data ratios (Excluding CaRMS specific) are present here? https://cfms.org/health-human-resources-platform/

[2020-09-13 00:02] DaxBourcier commented on #67
I just checked the ratio and the ones that are there now look perfect!

There was the CaRMS one that I didn’t find, which is as follows:
-	Ratio of “CMG applicants to specialty who ranked specialty as 1st choice” divided by “for specialty”
-	We would call it “Ratio of CMG applicants who ranked specialty as 1st choice to Number of CMG seats”
-	Note that this will only work for the Canadian regions

[2020-09-13 03:08] cfms-website commented on #43
This is now Fixed with the upload of new Specialties resources format!

[2020-09-13 03:08] #43 closed, assigned to nobody

[2020-09-13 03:08] #70 closed, assigned to nobody

[2020-09-13 04:28] Jrschellenberg commented on #67
Hey there @DaxBourcier I just uploaded 2020 CaRMS data as a test to Staging,

https://hhrtf-staging.cfms.org/

can you verify the CaRMS data. Just query for year 2020

[2020-09-13 16:12] #72 closed, assigned to nobody

[2020-09-13 16:50] Jrschellenberg commented on #68
@DaxBourcier This is now fixed and available to see on staging.

[2020-09-13 16:50] #68 closed, assigned to nobody

[2020-09-13 16:50] Jrschellenberg commented on #71
This is updated and available to view on staging

[2020-09-13 16:50] #71 closed, assigned to nobody

[2020-09-13 16:51] Jrschellenberg commented on #46
@DaxBourcier This is now added in the User guide Modal. Please review it and if it is good, we can close this ticket!

[2020-09-13 16:55] DaxBourcier opened #73 "CaRMS data"
Hey Justin,

The data doesn't seem to show up for all regions. I tried different specialties and there's always random regions with missing data. Here's an example using neurology.

![image](https://user-images.githubusercontent.com/62123024/93023896-b52b4e80-f5c8-11ea-9505-9d6274ee05d1.png)

[2020-09-13 16:57] DaxBourcier commented on #73
Also I just remembered this, but CaRMS gives us the # of applicatIONS and also the # of distinct applicANTS. We want to use the # of distinct applicants as the data set that fills out the Number of CMG applicants. I know we had confrimed this at the meeting with Michel but wanted to double check to make sure. Thanks!

[2020-09-13 17:39] Jrschellenberg commented on #73
@DaxBourcier This should now be fixed. The GeoJSON was referencing the wrong id for Quebec and Ont.

I also Added Canada to the CaRMS GeoJSON View, since it encapsulates a lot of this data.

For the Distinct CaRMS Applications. This is fine. I would suggest we do 1 of the following though:

1. Reach out to CaRMS and have them stop sending the Number of Applications if we are going to omit this Dat

[2020-09-13 17:48] Jrschellenberg commented on #73
@DaxBourcier The data is now updated to reflect
`Number of CMG applicants (distinct)`

[2020-09-13 17:51] Jrschellenberg commented on #65
@DaxBourcier This is now updated and can be seen on

https://hhrtf-staging.cfms.org/map#

[2020-09-13 17:52] Jrschellenberg commented on #20
@DaxBourcier @st4nya

The Pd responses are now updated. Please review, and if they are good, we can close this ticket!

[2020-09-13 17:55] DaxBourcier commented on #73
Sounds good, will do this, thanks!

[2020-09-13 17:56] #65 closed, assigned to nobody

[2020-09-13 18:11] Jrschellenberg commented on #73
Perfect! Closing this ticket for now

[2020-09-13 18:23] Jrschellenberg commented on #60
@DaxBourcier I have updated and made the Text a bit large, as well as restructured the tooltip box to accommodate the larger font size. Please review and if it is good, we can close this ticket!

[2020-09-13 18:35] DaxBourcier commented on #60
Hey Justin, I'll get feedback from HHRTF tonight on this. Now we loose some space because the text won't fit besides the X, and so the map becomes more cluttered. I wonder if we just made the font smaller (of both the title and numbers below) so that it fits besides the X. Or if we can sneak the X at the bottom right of the box at the same level as the bottom number (but without moving it). Anyway

[2020-09-13 18:35] Jrschellenberg commented on #69
Hey there @DaxBourcier Can you clarify what you mean by

To my knowledge, it should be currently doing this. If no data is present, it appears as yellow.

[2020-09-13 18:47] Jrschellenberg commented on #69
@DaxBourcier This should now be fixed and can be seen on:

https://hhrtf-staging.cfms.org/map#

[2020-09-13 20:13] Jrschellenberg commented on #60
Hey Dax, that is correct. This is why I originally designed the map that way, to try to accommodate because of the tight spacing.

It will be a trade-off, You cannot have the very visible text and small space so it will be a compromise that the HHRTF will have to decide.

Once you do, just let me know and I'll see what I can do!

[2020-09-13 21:55] Jrschellenberg opened #74 "Text for Link to HHR Platform"
@DaxBourcier @st4nya

Can you please just let me know what you would like the Text to say for the link to the HHR Platform under the Resources section.

To clarify this is what I am referring to

![Screenshot from 2020-09-13 16-52-47](https://user-images.githubusercontent.com/6064137/93029603-c16fd580-f5e1-11ea-8d8d-56599790c402.png)

What would you like me to change the Text of

To be?

Thank you

[2020-09-13 21:58] Jrschellenberg commented on #74
Similarly, I will need Text for this as well!

![Screenshot from 2020-09-13 16-57-51](https://user-images.githubusercontent.com/6064137/93029671-5377de00-f5e2-11ea-938c-fd3749c7c9f2.png)

[2020-09-13 22:05] ghost commented on #74
**Health Human Resources Platform**
Specialty planning tool
An interactive platform to guide medical students on specialty selection based on both personal interest and social accountability.

@DaxBourcier would be helpful to know your thoughts as well!

[2020-09-13 22:31] DaxBourcier commented on #74
^ that is perfect!

[2020-09-13 22:37] Jrschellenberg commented on #74
Thanks Misty!

It will look like this, If this is acceptable, you may close this ticket!

Screenshot 1:
![Screenshot from 2020-09-13 17-37-14](https://user-images.githubusercontent.com/6064137/93030332-d3ed0d80-f5e7-11ea-8f02-dbe2cacbe8ed.png)

Screenshot 2 :
![Screenshot from 2020-09-13 17-36-55](https://user-images.githubusercontent.com/6064137/93030336-d8192b00-f5e7-11ea-8653-3fddd7a726aa.png)

[2020-09-13 22:38] #74 closed, assigned to DaxBourcier

[2020-09-13 22:51] DaxBourcier opened #75 "Other resources two columns"
Hey Justin,

If this is a quick fix, could we make the other resources tab into one column, because currently it looks like both titles are one line:

![image](https://user-images.githubusercontent.com/62123024/93030578-74e4c400-f5fa-11ea-9377-39e6a0fc30ec.png)

Alternatively, we could just and a line break earlier in the sentence on the top left so that the ":" are on the second line.

Thanks!

[2020-09-13 22:53] DaxBourcier commented on #73
Hey Justin, the West region still appears to be broken:

![image](https://user-images.githubusercontent.com/62123024/93030629-cd1bc600-f5fa-11ea-9906-89843ffb1ea2.png)

[2020-09-13 22:55] DaxBourcier commented on #69
Hey Justin

So for the actual layer to show yellow. Like currently as seen below its all different shades of blue:

![image](https://user-images.githubusercontent.com/62123024/93030646-fdfbfb00-f5fa-11ea-9b1a-8fcb70a2647c.png)

We currently dont have any data for specialty demand. so all the shades over every province and health region should be yellow.

Thanks!

[2020-09-13 23:27] Jrschellenberg commented on #73
@DaxBourcier Please take a look. There was an issue again with the GeoJson id's being out of sync from the DB, Should be good to go now! If it is, we can close this ticket

[2020-09-13 23:30] Jrschellenberg commented on #75
@DaxBourcier I updated it to space the 2 columns out more, they will now take up 40% of the room each, leaving 20% of space between them to distinguish.

[2020-09-14 00:14] BrandoCC opened #76 "Provincial Resources - Map View"
When looking at the Map View, all the provincial resources appear for every health region, not one set for each province. Thus, there are several repeats for the resources.

[2020-09-14 00:17] BrandoCC opened #77 "Provincial Resources - Comparing jurisdictions"
When comparing jurisdictions WITHIN the same province the same provincial resources are duplicated.

[2020-09-14 00:27] ghost opened #78 "Bottom bar pull-up feature"
As per the screen recording I sent to Justin - the bottom par for the PD responses/specialty resources/etc can be pulled up beyond the screen, after which it can't be pulled back down. Once this happens, you have to refresh the page and re-input the data selection criteria. Would be very helpful if the bar couldn't be pulled up beyond the screen!

[2020-09-14 00:28] Jrschellenberg commented on #76
Hey Brandon, can you clarify exactly what you mean? Sorry but if I am understanding you correctly. This is working as expected.

When you are in the Map view, you are querying for all regions under the hood. This is why all of the Provincial Resources are showing.

[2020-09-14 00:29] Jrschellenberg commented on #77
Hey Brandon, do you mind attaching a screenshot to explain this better? Please provide screenshots for all issues please!

[2020-09-14 00:33] BrandoCC commented on #76
Hey Justin,    Sorry I know I wasn’t very specific. For example, NL has all their districts shown in under the provincial resources, thus NL has NL, Western, Central, Eastern, Labrador with all the same resources being shown. Thus, there is 5 reapeats for NL. This is true for all of the provinces. It has to do with how I inputed them into the excel sheet for the province. As I put them in under ev

[2020-09-14 00:33] ghost commented on #20
Hi Justin! @DaxBourcier, Brandon, and I just reviewed the PD responses on the website again. We were wondering if it might be possible for you to go through and format them such that the different responses are separated with a horizontal line to improve readability, remove the bolded text on the non-ON responses, and turn the paragraphs between questions/answers into breaks in the ON responses so

[2020-09-14 00:35] BrandoCC commented on #77
Sorry! I thought I attached the pictures. Here they are. This is comparing the NB districts zone 1 and 2, Provincial resources are repeated.   Brandon Collins From: Justin SchellenbergSent: September 13, 2020 9:59 PMTo: canadian-federation-of-medical-students/CFMS-Issue-TrackerCc: BrandoCC; AuthorSubject: Re: [canadian-federation-of-medical-students/CFMS-Issue-Tracker] Provincial Resources - Compa

[2020-09-14 00:36] Jrschellenberg commented on #76
Hey Brandon!

In order to fix this, we would need to fix the Data within the Province Resource template. What we can do is when the template is updated. I can re-upload it to the Database, it will then overwrite the previous entries and should fix the issue.

Let me know what you think! This may be something we have to shelve until after the launch. But if we can get it before I can upload it!

[2020-09-14 00:37] BrandoCC commented on #76
I can do that no problem! I just need to know what I need to do lol. Should I just put them into the all section for each province? Brandon From: Justin SchellenbergSent: September 13, 2020 10:06 PMTo: canadian-federation-of-medical-students/CFMS-Issue-TrackerCc: BrandoCC; AuthorSubject: Re: [canadian-federation-of-medical-students/CFMS-Issue-Tracker] Provincial Resources - Map View (#76) Hey Bran

[2020-09-14 00:38] Jrschellenberg commented on #77
This is related to #76

[2020-09-14 00:39] Jrschellenberg commented on #78
Hey Misty! I actually noticed this too when I was QAing it.

I will investigate it, but if it is a fair amount of work, this may be postponed until after AGM!

[2020-09-14 00:41] Jrschellenberg commented on #76
Are you available tonight or either tomorrow night to maybe do a 15-minute call? Might be easier to explain over call. We may be able to do something in code too, but be easier if I get a better understanding of the issue!

[2020-09-14 00:44] BrandoCC commented on #76
If you can call me now that would work best! 687-4139, if not tomorrow I am available after 1pm NL time!

Thanks
Brandon Collins

[2020-09-14 01:14] Jrschellenberg commented on #77
@BrandoCC This is now fixed, It should be available for viewing in 5-10 minutes on the cfms website!

[2020-09-14 01:14] #77 closed, assigned to nobody

[2020-09-14 01:14] Jrschellenberg commented on #76
@BrandoCC This is now fixed, It should be available for viewing in 5-10 minutes on the cfms website!

![Screenshot from 2020-09-13 20-14-10](https://user-images.githubusercontent.com/6064137/93033904-ca6ea000-f5fd-11ea-8023-75ce69a2e3c7.png)

[2020-09-14 01:14] #76 closed, assigned to nobody

[2020-09-14 01:48] Jrschellenberg commented on #78
@st4nya This is now fixed, it was a fairly small fix!

[2020-09-14 01:48] #78 closed, assigned to nobody

[2020-09-14 01:48] Jrschellenberg commented on #78
The Bar will now only be able to scroll as much as the Table, Map, And Graph Main screens respectively

[2020-09-14 11:19] DaxBourcier commented on #46
Great!

[2020-09-14 11:19] #46 closed, assigned to nobody

[2020-09-14 11:24] DaxBourcier commented on #67
Hey Justin,

There's still a few ratios that don't show up on the map when queried:

![image](https://user-images.githubusercontent.com/62123024/93080067-81e9cd80-f663-11ea-8c1a-4c72fc2f5d74.png)

(see the summary too)

Also on this image is all Ont Qu/ and Atlantic should also have the CaRMS ratio but its not showing up.

Thanks!

[2020-09-14 11:31] DaxBourcier commented on #60
We agreed that it looks perfect as it is!

[2020-09-14 11:31] #60 closed, assigned to nobody

[2020-09-14 11:33] DaxBourcier opened #79 "% pursuing fellowship"
The % pursuing fellowship does not appear:

![image](https://user-images.githubusercontent.com/62123024/93080988-e78a8980-f664-11ea-9738-3195656e6c72.png)

[2020-09-14 14:51] Jrschellenberg commented on #79
Hey, there @DaxBourcier Sorry but can you clarify this? I see the Percentage of Residents pursuing fellowship there. It is showing up as 0 if it is 0. or "-" if no data exists. It is there in Grey.

Also, can you tell me what Dataset you queried for this?

[2020-09-14 14:54] Jrschellenberg commented on #20
Hey there Misty!

Sorry, but the issue is I don't know how you want it formatted. It also seems like you want them very specifically formatted. This is why I gave you the ability to use HTML, as well as the doc2html converter.

Are either you or Brandon free? We could perhaps schedule a call and discuss this?

[2020-09-14 14:56] Jrschellenberg commented on #69
Hey there Dax! I am confused. I thought we were going to use the doctor per 100,000 as a value to calculate the specialty demand?

[2020-09-14 15:06] ghost commented on #20
Hey Justin,

It was mostly the ON responses that needed significant reformatting (the questions needed to be grouped with the respective answers), but that’s been done already. We mostly want them all to look consistent throughout, with horizontal lines separating each response. The other provinces just need to be unbolded with horizontal lines separating the individual responses. I’ve cc’d Brando

[2020-09-14 15:19] Jrschellenberg commented on #20
If you would like them to look consistent throughout. We will have to reenter all of the PD responses again.

If you would like to add Horizontal lines, we can, you will have to insert them through Word.

Perhaps we can meet and I can educate you on how to enter the data in more detail? Sorry, but the CFMS will need to be responsible for their data and understand how to enter it into the DB correc

[2020-09-14 15:33] Jrschellenberg commented on #67
For the CaRMS Data. This is working as Expected. There is no Data for General Pathology for Ont and Que.

Can you clarify which Data Ratios aren't showing up and I can check for you!

[2020-09-14 15:43] ghost commented on #20
I spoke with Dax and Brandon and we’ve come up with two potential solutions:

1. Could we put all of the responses on a Word doc, and your team can convert them into HTML? The problem isn’t really the conversion process itself, it’s that we aren’t able to correct for issues as they arise with the HTML version - i.e. with the breaks/paragraphs, I tried clearing the formatting and re-formatting them

[2020-09-14 15:48] Jrschellenberg commented on #20
Hey Misty!

Let me see if we can do something with Option 2. I should be able to differentiate responses between Ont and the rest, and apply the new Format to only Ont, while keeping the old format for the rest.

I will do something of the following:
1.) Reimport all the old PD responses except for all Ontario ones.
2.) Update the logic to split out all Pd responses of the following

- Ontario PD

[2020-09-14 15:53] ghost commented on #20
To clarify, this means that we will see the old format for the non-ON responses (i.e. MUN comment “...”) and the current format for the ON responses? After the AGM, can we update only the ON responses to be formatted more consistently and keep the other responses as they are?

If so, I think that is a good start!

[2020-09-14 16:40] Jrschellenberg commented on #20
That is correct

[2020-09-14 19:54] basumoni opened #80 "dash sizes"
Hi Justin,

I'm just playing with the platform now
I noticed sometimes the dash sizes are inconsistent when there is no information for a given dataset
I have attached a screen shot here
![dash size](https://user-images.githubusercontent.com/63878446/93131661-6ce05f00-f6a2-11ea-8da4-bba29c42d417.jpg)

as you can see the number of fellow exits per year has a larger dash than for the other datasets

[2020-09-14 20:13] basumoni opened #81 "missing CaRMS data"
Hi Justin,

I'm not sure if Dax's issue earlier covers this as well, so I'm including it here too
CaRMS data seems to be missing for almost every specialty I've tried in table view. I have been looking at 3 specific regions (Toronto Central, Southwest LHIN, Southeast LHIN, since these are regions for UofT, UWO, and Queens respectively)
Attached some screenshots here:
![carms_fammed](https://user-i

[2020-09-14 21:49] DaxBourcier opened #82 "Initial pop up box"
Please change title to "CFMS Health Human Resources Platform"

![image](https://user-images.githubusercontent.com/62123024/93141669-fbf97100-f6ba-11ea-930e-b90234f22292.png)

[2020-09-14 21:52] DaxBourcier opened #83 "Remove "Canada" under provincial resources"
Please remove "Canada" under provincial resources

![image](https://user-images.githubusercontent.com/62123024/93141932-75915f00-f6bb-11ea-86fd-be824fc05a57.png)

[2020-09-15 01:47] Jrschellenberg commented on #20
@st4nya This is now updated on Staging and Production.

I Updated the PD responses, to have all except Ontario be the original Data upload from April.

All Ontario ones are using the new html format.

All non Ontario pd responses, will show the old Format with the delimiter

All Ontario PD responses will show using the new HTML format.

If this is good. You can close this ticket! If you find somet

[2020-09-15 01:48] Jrschellenberg commented on #83
@DaxBourcier This is now fixed

[2020-09-15 01:48] #83 closed, assigned to nobody

[2020-09-15 01:54] Jrschellenberg commented on #80
@basumoni Sorry but I can't replicate it on my machine, here is what it looks like for me.

![Screenshot from 2020-09-14 20-52-56](https://user-images.githubusercontent.com/6064137/93155715-518a4980-f6cc-11ea-9725-6eb83ef5ce13.png)

Can you tell me:
1.) What Browser are you using
2.) What operating system

I am also wondering if you are using any Browser extensions?

[2020-09-15 02:03] Jrschellenberg commented on #79
@DaxBourcier This is working as expected, there is no information for General Pathology other than 0 entered and only 9 of the datasets have 0, the rest were left blank.

[2020-09-15 02:03] #79 closed, assigned to nobody

[2020-09-15 02:06] Jrschellenberg commented on #81
Hey @basumoni This is because this data is only present for Que and Ont. From Carms.

![Screenshot from 2020-09-14 21-05-15](https://user-images.githubusercontent.com/6064137/93156625-19840600-f6ce-11ea-9d77-98a0f92a6b7e.png)

Unfortunately, It is working as expected. I have no control over what data is provided to the HHRTF by the government sources

[2020-09-15 02:06] #81 closed, assigned to nobody

[2020-09-15 02:07] Jrschellenberg commented on #73
@DaxBourcier Closing this unless you find another issue with it. Please reopen and let me know!

[2020-09-15 02:11] Jrschellenberg commented on #67
@DaxBourcier Let me rephrase what I said before. There is no General Pathology data that CaRMS has provided for the year of 2019.

This is working as expected, the Application just lacks the Data provided by the Government sources.

[2020-09-15 02:11] #67 closed, assigned to nobody

[2020-09-15 02:11] Jrschellenberg commented on #69
@DaxBourcier Please let me know as soon as you can please! So I can make any changes if necessary

[2020-09-15 02:12] Jrschellenberg commented on #82
This is now fixed

[2020-09-15 02:12] #82 closed, assigned to nobody

[2020-09-15 02:17] DaxBourcier commented on #69
Hey Justin,

yeah we definitely had a misunderstanding for this one. Really easy fix though!

Initially we wanted to set it up for the specialty demand to be "ready" for when we would have this data. In the meantime, we chose to use the same type of "heat map" layer idea to do the physician to 100,000. This being said, the layer that contains this data should be called "Physician Density". So mayb

[2020-09-15 02:25] DaxBourcier commented on #75
Hey Justin,

I don't think this worked when moving to the CFMS website:

![image](https://user-images.githubusercontent.com/62123024/93157897-82c14480-f6e1-11ea-986d-1b09a9959d19.png)

Also if possible to add a period at the end of the sentence after user guide.

Thank you!

[2020-09-15 02:34] DaxBourcier opened #84 "Map view click to drag not always working"
This had happened to me multiple times now and I don't know what I do for it to happen, but when I'm on map view, sometimes I click on a box or zoom in and the when I try to move around by clicking and dragging, it selects the text that is on the map instead and doesn't let me move around anymore.

![image](https://user-images.githubusercontent.com/62123024/93158507-9de08400-f6e2-11ea-92c3-f8cdf58

[2020-09-15 02:39] DaxBourcier commented on #73
Atlantic region is coming empty on two of the CaRMS data sets on about half the specialties I tried:

![image](https://user-images.githubusercontent.com/62123024/93158858-67573900-f6e3-11ea-89ed-14f66e8f27f7.png)

I'm pretty positive this data was provided to us by CaRMS. If possible to double check and confirm this isn't a similar issue that happened like the other regions.

Thanks!

[2020-09-15 02:44] DaxBourcier commented on #73
Sorry just saw your last email on how to find Excel data. (i'm going up the email list hahaha). If possible to check this one (just because we had issues with CaRMS previously and the others I'll do the excel trick. Thanks!

[2020-09-15 02:48] DaxBourcier commented on #20
I REALLY like how we have the province show up on top of the responses provided. This is extremely useful when we compare more than one province and works really well for the Ontario ones because then the user can see that its just the Ontario responses are slightly different than the rest. I'll let @st4nya and @BrandoCC comment before we close this. Thanks to the team for working on this so hard!

[2020-09-15 02:56] Jrschellenberg commented on #84
@DaxBourcier I am having a hard time replicating this bug

can you tell me the following:

1.) What Operating System you are using
2.) What Browser you are using?
3.) Are you using a mouse or a Track pad?

Thanks and talk soon!

[2020-09-15 03:10] DaxBourcier commented on #84
Hey Justin,

1) macOS Catalina
2) Chrome
3) Track pad (but occurred using mouse as well)

This never happened before on the quirky-edison link.

[2020-09-15 03:15] DaxBourcier commented on #84
I was just able to reproduce it! Basically when you try and move the blue pins from the Canadian region view, the second time you move it it freezes and wont allow you to click and drag anymore.

[2020-09-15 03:40] Jrschellenberg commented on #69
@DaxBourcier I added a Map layer for Specialty Demand that has no Data.

Please note, it functions similarly to the new Physician Demand, IE you have to query first before you can see the Map Layer.

I also gave this one a lower opacity compared to the Physician demand layer since there is no data for now.

[2020-09-15 04:11] Jrschellenberg commented on #75
@DaxBourcier Sorry I fixed this and then a regression occurred! It is fixed now!

[2020-09-15 04:11] #75 closed, assigned to nobody

[2020-09-15 04:12] Jrschellenberg commented on #84
@DaxBourcier Try it again. There was a bug where it wasn't registering the CaRMS GeoJSON. I couldn't replicate the Map freezing though so test that and let me know!

If it seems to be working you can close this ticket!

[2020-09-15 04:13] Jrschellenberg commented on #73
@DaxBourcier

Sounds good! Let me know! It is possible perhaps I was using the wrong Data? I was using the Data found under Original Requests,

I then copied the template and built the Adapter. The Data I imported is in Tab 3 And CaRMS original Input is located in Tab 1

[2020-09-15 11:42] DaxBourcier commented on #84
Not able to replicate it again!

[2020-09-15 11:42] #84 closed, assigned to nobody

[2020-09-15 11:46] DaxBourcier opened #85 "health region box and blue pin"
1) The first time you click on the blue pin, it doesn't change the orientation of the box. You have to click in a second time and then it works. Please make it so the first time you click on the blue pin or **on** the box (like it was before) it changes the orientation.

2) if you move a pin, change its orientation and then drag it somewhere else, it automatically changes it back to its original o

[2020-09-15 11:56] DaxBourcier commented on #69
Hey Justin, the title should say "Physician Density" not physician demand. Just a little switch, otherwise looks super!!

[2020-09-15 11:57] DaxBourcier opened #86 "Last ratio doesn't work"
Hey Justin,

The last ratio doesn't work (ratio of vacancies to number of physicians). You select it and then it doesn't appear on the map when you apply.

![image](https://user-images.githubusercontent.com/62123024/93207569-8977a800-f731-11ea-8fc4-2c9344a9601f.png)

[2020-09-15 12:06] DaxBourcier commented on #69
Also, the Specialty Demand legend appears when you initially apply data (even before selecting the layer).

[2020-09-15 12:06] DaxBourcier commented on #69
![image](https://user-images.githubusercontent.com/62123024/93208293-c001f280-f732-11ea-9899-5295cb3c77b7.png)

[2020-09-15 12:08] DaxBourcier commented on #69
Also, the specialty demand layer is automatically selected when you apply any query. Please make it so that it is unselected at first. Thanks

![image](https://user-images.githubusercontent.com/62123024/93208445-f63f7200-f732-11ea-810d-4036726d8e23.png)

[2020-09-15 13:54] DaxBourcier opened #87 "CAPER data mistake"
I made a mistake here, I'm really sorry. It should be a quick fix.

Remember a while ago, I had asked to change the name of one of the CAPER data sets.. I was completely wrong. In fact, the way it is called in the template is actually correct! so I think we can just remove the code that made it change the name of this data set apply to the front end. Here's more details:
  - Name in template " Num

[2020-09-15 14:46] DaxBourcier commented on #86
Also for this specific ratio, I would need to confirm the following informations so that I can update the User Guide appropriately --> does this use averages for the denominator (since we do have two sources (CIHI and CMA) for this dataset)? If it does not, what is the source used for the denominator? I know that the nominator is only provided by CMA.

Thanks!

[2020-09-15 14:49] Jrschellenberg commented on #85
Since this wasn't part of the original scope. And due to time constraints of adding a new feature, I will do this after the AGM

[2020-09-15 14:51] DaxBourcier commented on #85
But this was working fine before in was moved to the CFMs website that's all.

[2020-09-15 14:52] DaxBourcier commented on #85
Maybe not the clicking on the box though, but definitely moving the boxes around, they would stay in the orientation you had them in.

[2020-09-15 14:53] Jrschellenberg commented on #85
Would you like me to remove the functionality of switching orientations? This happened because you asked me to add the x to close the boxes, and as a result, requires 2 clicks to move the box orientation, 1 click to open it if it is closed.

I can try to take a look at it. But as we are getting close to launch I only want to stick to critical bugs

[2020-09-15 14:57] DaxBourcier commented on #85
Issue 1. is ok as is, I understand now and this is minor.

For issue 2 though, would this be hard to fix? Like I said I'm almost positive this wasn't like this before we moved things over.

[2020-09-15 15:11] Jrschellenberg commented on #85
@DaxBourcier I see what you mean for number 2. This is in fact a new bug.

This is because of all the changes we have been making in the past week, we are starting to cause regressions in the codebase. This is part of why I'm going to push back on number 1.

But I will fix number 2!

[2020-09-15 15:20] Jrschellenberg commented on #86
@DaxBourcier As we talked about previously on our call and you confirmed that it was ok. The Data ratios logic is as follows

If you are trying to calculate a Dataset from across 2 sources (more than 1 row in the excel template at a time) This is not possible, and cannot be done.

If the Template import, has both the Datasets (exists and isn't '-' or null), it will calculate it provided:
- The den

[2020-09-15 15:21] Jrschellenberg commented on #86
@DaxBourcier For this particular issue, can you tell me the steps to replicate? Sorry but it appears for your screenshot you just don't have it selected, I am able to select it.

Are you trying to select it and it won't select? It seems like you don't have it selected right now.

I am using https://cfms.org/resources/health-human-resources-platform/map#

![Screenshot from 2020-09-15 10-16-02](http

[2020-09-15 15:22] Jrschellenberg commented on #86
@DaxBourcier O I think I just replicated it. Can you confirm, this happens after you have already queried for data on the map?

[2020-09-15 15:25] Jrschellenberg commented on #87
@DaxBourcier To clarify, you want me to change the Dataset back to its original name `Number of graduates from province 2 years ago` Correct?

[2020-09-15 16:54] ghost commented on #20
Looks much better! Agree with @DaxBourcier that the province title is super helpful. Thanks for sorting this out!

[2020-09-15 16:54] #20 closed, assigned to nobody

[2020-09-15 20:44] DaxBourcier commented on #85
Great sounds good, thanks Justin!

[2020-09-15 21:49] DaxBourcier commented on #86
1) Ok no problem, so is it both CMA data for this ratio? This is what I need to know.

2) Exactly, when I select it then click apply, it just doesn't show up in the legend or on the map, then when I click the data sets again its like I never selected it.

Cheers

[2020-09-15 21:50] DaxBourcier commented on #87
Yes please. Sorry about the inconvenience.

[2020-09-15 22:00] DaxBourcier commented on #87
Also we just need to make sure that it's the right data set that appears under each. In other words, just making sure we didn't flip flop those data sets by changing their names.

[2020-09-15 22:08] DaxBourcier commented on #73
Everything is good.

[2020-09-15 22:08] #73 closed, assigned to nobody

[2020-09-15 22:12] DaxBourcier opened #88 "User Guide Update"
I changed the User Guide to add the ratios and calculated data sets. Also added the layer information etc.

If possible to re-upload the User Guide.

I only need two things before I can send you the final draft:
1. Issue with the # of vacancies to number of physicians (if both CMA data sets that are used or if denominator is CIHI)
2. I need to take a screenshot of the map view with the Physician D

[2020-09-15 22:13] Jrschellenberg commented on #69
Hey @DaxBourcier can you confirm if you are querying with the Layer applied already?

If this is the case, this is working as expected.

I just tried and the Layer does not apply unless the user has it specifically applied from the Dropdown in the top right of the Map view!

If you want I can remove it every time they apply filters, however, I feel this would go against some design principles

[2020-09-15 22:16] DaxBourcier commented on #69
Ah! that must have been it, my bad!

Just need to change the wording to "Physician Density" now for the layer:

![image](https://user-images.githubusercontent.com/62123024/93270618-e43bee80-f787-11ea-86b1-b6aeac1d1402.png)

Thanks!

[2020-09-15 22:31] Jrschellenberg commented on #88
@DaxBourcier Just going to add some clarity around Number 1. The short Answer is only CMA has this Ratio Calculated, CIHI does not. It is missing # of Vacancies

Let me try to clarify:
When a Template is uploaded, a short summary of the relevant steps would be.
- A row in the Excel sheet gets uploaded.
- Looks at all the Dataset columns and picks out columns required for calculating data ratios.

[2020-09-15 22:45] Jrschellenberg commented on #69
@DaxBourcier I have updated this and it should be reflected on the cfms website in ~ 5 minutes.

Haha no worries! The main reason I would suggest to keep it is, it allows end users to quickly swap out map layers without having to reapply every single time. For example, if I wanted to quickly view specialty demand, or physician density amongst different queries!

[2020-09-15 22:45] #69 closed, assigned to nobody

[2020-09-15 22:46] Jrschellenberg commented on #88
@DaxBourcier The text should be updated shortly, Closing ticket for now, but if you have another question just open it back up!

[2020-09-15 22:46] Jrschellenberg commented on #88
Actually I just realized you will provide the link here, leaving it open my apologies!

[2020-09-15 22:48] Jrschellenberg commented on #87
@DaxBourcier I have removed the Dataset rename, it now says:

`Number of graduates from province 2 years ago`

To answer your question, we will be ok! I tested it with some data. I also have been structuring edge cases to not conflict too much with the Codebase, so we should be fine!

Closing ticket but if you need any additional information, just let me know and open it back up!

[2020-09-15 22:48] #87 closed, assigned to nobody

[2020-09-15 23:07] Jrschellenberg commented on #85
Hey there @DaxBourcier

Good news, I was able to fix both of them.  The first issue wasn't as bad as I thought it would be.
Sorry for pushing back, but just as we are getting closer to the launch date. I am becoming warier of changing lots of lines, which I thought this issue initially would be. The reason for that is, changing more lines, runs the risk of introducing new bugs as well!

Hope you c

[2020-09-15 23:07] #85 closed, assigned to nobody

[2020-09-15 23:08] DaxBourcier commented on #85
Oh 100%!! Thanks Justin!

[2020-09-16 01:43] DaxBourcier commented on #88
Here it is:

https://drive.google.com/file/d/1Z2FdshYgFJOrHbnCkm1vzWGbI_QSRiaU/view?usp=sharing

Thanks Justin!

[2020-09-16 05:42] Jrschellenberg commented on #86
@DaxBourcier This is now fixed! It was quite the bug haha, but got it squashed!

If you find any other issues, just reopen the ticket!

[2020-09-16 05:42] #86 closed, assigned to nobody

[2020-09-16 05:43] Jrschellenberg commented on #88
@DaxBourcier This is now added to the new website. Closing ticket, if any other issues just reopen it!

[2020-09-16 05:43] #88 closed, assigned to nobody

[2020-09-16 10:58] DaxBourcier commented on #86
Eliminate the bugs!! Justin I think this is pretty much it! The HHRTF have until tonight to review and post up Github issues and I plan on sharing with the Board the completed HHR platform and presentation for Sunday tonight as well! Have a nice day!

[2020-09-18 01:14] Jrschellenberg commented on #80
@basumoni  I was able to hunt this down! Found the dashes and have fixed it now! will be available on the next release!

[2020-09-18 01:14] #80 closed, assigned to nobody

[2020-12-21 02:54] dmaved opened #89 "Cannot reupload a document submitted for the CFMS-MD Financial Award"
There is no option to delete or edit a document that's already been uploaded for the award. This makes it impossible to update the application or correct a mistake that has been made. [https://www.cfms.org/resources/md-leadership-awards](url)

thanks for your help!

[2021-06-05 15:00] davidjbrandon opened #90 "LASIK MD discount card is not appearing when printing the page"
Attempted to print LASIK MD discount card in Firefox, Chrome, and Safari with no success, just prints a blank page with header url and timestamp.

Was able to get a copy printed by removing `body *` selector from the print.css `@media` rule.

[Here is the url](https://www.cfms.org/resources/lasik-membership-card).

[2021-06-22 14:03] Jrschellenberg commented on #90
Thank you for bringing this up! You were right on the money, the whole body was being displayed none via css

- It is now fixed!

[2021-06-22 14:03] #90 closed, assigned to nobody

[2021-08-26 09:35] MarcelloTheArcane opened #91 "Security issue in nonce generation"
Hello!

I made `netlify-plugin-csp-generator`, which you've cloned [here](https://github.com/canadian-federation-of-medical-students/netlify-plugin-csp-generator).

I noticed that is has an insecure function for generating nonces:
[code]
[Source](https://github.com/canadian-federation-of-medical-students/netlify-plugin-csp-generator/blob/e5452aa78e7dc46698f6ae3852c1ef42eb8a1f9a/functions.js#L97-L1

[2021-08-27 20:49] Jrschellenberg commented on #91
Hey there Marcello! I appreciate you taking the time to reach out and post this for us! It is much appreciated.

Although we are using a hardcoded string here. This string is being intercepted and rewritten to a true nonce every time the page loads. If you open up the CFMS source and refresh the page, you will see that there is a changing nonce is being updated upon every page refresh.

Also, I ju

[2021-08-30 15:55] Gouache12 opened #92 "Unable to click "Create Your Account" on CFMS page"
Hello,
I'm trying to create an account from CFMS (https://www.cfms.org/new-account). After entering the authentication code and all the fields, I am still unable to click the "Create an account." Nothing happens when I click it.
Could anyone help?

[2021-08-31 14:35] Jrschellenberg commented on #92
Good morning!

I have tried replicating this issue but I am having trouble.

I am using Chrome for testing, however.

Would you be able to provide me with a bit more information?  I would be looking for are the following:

-  The Browser you are using,
- Your operating system
-  The steps you took to get the error as well as if possible a screenshot of the error.

I did notice that there currently

[2021-08-31 16:00] Gouache12 commented on #92
Hi Justin,

I was able to solve the problem by using my phone instead. When I used my phone, it said account has already been created. 

For the unresponsive account creation page, I was using Firefox on a Mac (with version 10.14.6). I don’t have an error page because it simply didn’t respond to my request. In retrospect, I believe it may be also caused by my pop-up blocker since a pop-up should

[2021-09-07 17:40] Jrschellenberg commented on #92
Hey there @Gouache12

Thank you for taking the time to reply to me!

Ok, I think this may be a 2 part thing I'll try to address.

1. The confirmation emails I have had trouble with in the past. I recently tried updating the Auth service we use to try to remedy it, however I think it still having issues since the emails are going to university accounts. I will try to take a further look into this!

[2021-09-10 05:36] MarcelloTheArcane commented on #91
Thanks for confirming, just wanted to make sure you were aware!

No problem 🙂

[2021-09-10 05:36] #91 closed, assigned to nobody

[2022-08-05 17:59] kent-o0 opened #93 "Top Bar of Website Non-Functional on Firefox"
The top bar of the website does not appear on firefox, both desktop and mobile according to my limited testing. Website works fine for me in chrome but it's annoying to have to use an entirely different browser just for this site.
![image](https://user-images.githubusercontent.com/110690777/183133913-c4fdaef6-d9c5-4752-9c8f-a7028415afa5.png)
Also does not work even with all addons and extensions d